.bannedUsersContainer{
    display: flex;
    flex-direction: column;
    /* color: white; */
    height: 93vh;
    /* justify-content: center; */
    align-items: center;
    overflow-y: scroll;
    padding: 3% 0  3% 0;
    gap: 1.5em;
}

.bannedUsersTable{
    /* display: flex; */
    width: 70%;
    flex-shrink: 0;
    text-align: left;
    /* background-color: #181818; */
    /* background-color: antiquewhite; */
}