.searchGamesContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: antiquewhite; */
    height: 93vh;
    overflow-y: auto;
    /* flex-wrap: nowrap; */
    gap: 2em;
    padding: 3% 0 3% 0;
    /* justify-content: center; */
}