.searchUsersContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: antiquewhite; */
    height: 93vh;
    overflow-y: auto;
    /* flex-wrap: nowrap; */
    gap: 2em;
    padding: 3% 0 3% 0;
    /* justify-content: center; */
}

.searchUsersView{
    display: flex;
    /* background-color: beige; */
    width: 70%;
    gap: 1.5em;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: center;    
}

.searchUsersContainer input{
    width: 70%;
    height: 8%;
    border:2px #adb5bd solid;
    background-color: transparent;
    font-family: "Space Grotesk", sans-serif !important; 
    font-weight: 400;
    color: #adb5bd !important;
    text-align: left;
    padding: 0 1% 0 1%;
    border-radius: 1.25em;
    transition: 0.4s all ease;
    position: relative;
    flex-shrink: 0;
}

.searchUsersContainer input:focus{
    /* border:2px white solid; */
    transition: 0.4s all ease;
    background-color: #181818;
} 