@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&family=Space+Mono&display=swap');

*{
  margin: 0;
  padding: 0;
}

h1, h2, h3{
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

b{
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

button{
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

p{
  font-family: "Space Mono", monospace;
  font-weight: 400;
}

a{
  text-decoration: none;
}

a :hover{
  color: #7828c8;
  transition: all 0.2s ease;
}



.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 93vh;
  overflow-y: scroll;
  background-color: #2c2c2c;
}

::-webkit-scrollbar{
  width: 0.5vw;
}

::-webkit-scrollbar-track{
  background-color: #333333;
}

::-webkit-scrollbar-thumb{
  background-color: #686868;
  border-radius: 10px;
}

