.gameSummaryTile{
    background-color: #181818;
    display: flex;
    width: 70%;
    height: 10em;
    border-radius: 2em;
    transition: all 0.4s ease;
    /* gap: 1em; */
    /* justify-content: space-between; */
    padding: 0.9em 2em 0.9em 1em;
    /* margin-bottom: 3%; */
    flex-shrink: 0;
}

.gameSummaryLeft{
    display: flex;
    flex: 1;
    gap: 1em;
    align-items: center;
    /* background-color: antiquewhite; */
}

.gameSummaryRight{
    display: flex;
    flex: 1;
    align-items: center;
    /* background-color: antiquewhite; */
    justify-content: space-between;
    /* gap: 7em; */
}

.gameSummaryTile:hover{
    box-shadow: 0px 0px 30px 1px #7828c8;
    transform: scale(1.02);
    transition: all 0.4s ease;
    /* cursor: pointer; */
}

.gameSummaryImg{
    display: flex;
    height: 100%;
    /* flex: 1; */
    border-radius: 1.25em;
    /* background-color: #7828c8; */
}

.gameSummaryImg img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 1.25em;
    object-fit: contain;
}

.gameSummaryDesc{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* flex: 7; */
    /* background-color: aliceblue; */
}

/* .gameSummaryDesc p{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
  } */

  .gameSummaryDate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

 .gameSummaryRating{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: aliceblue; */
    height: 100%;
 } 

.gameSummaryLinks{
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    gap: 8%;
    height: 100%;
    /* background-color: #7828c8; */
    justify-content: center;
}