.reportedCommentsContainer{
    display: flex;
    flex-direction: column;
    /* color: white; */
    height: 93vh;
    /* justify-content: center; */
    align-items: center;
    overflow-y: scroll;
    padding: 3% 0  3% 0;
    gap: 1.5em;
}

.reportedComments{
    display: flex;
    width: 70%;
    /* background-color: antiquewhite; */
    justify-content: center;

}

.reportedCommentsLeft{
    display: flex;
    /* background-color: aqua; */
    justify-content: center;
}

.reportedCommentsRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
}