.cartItemContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cartItemLeft{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    /* background-color: aqua; */
    gap: 10%;
    align-items: center;
}

.cartItemRight{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    /* background-color: antiquewhite; */
    gap: 15%;
}