.followingContainer{
    display: flex;
    flex-direction: column;
    /* color: white; */
    height: 93vh;
    /* justify-content: center; */
    align-items: center;
    overflow-y: scroll;
    padding: 3% 0  3% 0;
    gap: 1.5em;
}

.followingUsers{
    display: flex;
    /* background-color: beige; */
    width: 70%;
    gap: 1.5em;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}